.listContainer {
  padding: 0 5px;
  margin: 0 5px;
  background-color: rgb(240, 240, 240);
  border: 1px solid #85dcbb;
  border-radius: 5px;
  font-family: "Open Sans";
}
.list {
  width: 90%;
  height: 380px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
